/* @css-in default olculerini sifirlamaq */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
ul,
ol {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body{
  width: 100%;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
