/* @header hissesinin ve elementlerinin olculeri */

.header {
  justify-content: space-between;
  padding: 3.8rem 5.961rem 3.7rem 6rem;
  position: fixed;
  top: 0;
  background: #ffffff;
  z-index: 1;
  width: 100%;
}

.header .header-left .header-left-first-content h3 {
  padding-left: 1.2rem;
  padding-right: 4.6rem;
}

.header .header-left .header-left-second-content .call-number {
  padding-left: 1.2rem;
}

.header
  .header-right
  .header-right-content
  .menu
  .menu-content
  .menu-content-list
  .menu-content-item {
  padding-left: 1rem;
}

.header
  .header-right
  .header-right-content
  .sosial-icon
  .sosial-icon-content
  .facebook {
  padding-left: 3.2rem;
  padding-right: 3rem;
}

.header
  .header-right
  .header-right-content
  .sosial-icon
  .sosial-icon-content
  .linkedin {
  padding-left: 3rem;
  padding-right: 3.2rem;
}

.header
  .header-right
  .header-right-content
  .reservation
  .reservation-content
  .button-reservation
  span {
  padding-left: 1.2rem;
}

@media screen and (max-width: 1400px) {
  .header .header-right .menu .menu-content-item:not(.hidden),
  .header .header-right .menu .arrow-down {
    display: none;
  }
  .header .header-right .header-right-content .menu .hidden {
    display: block!important;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column!important;
    align-content: space-between!important;
  }
  .header
  .header-left {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 705px)
{
  .header-left-content {
    flex-direction: column;
    justify-content: center;
  }
  .header-left-first-content {
    margin-bottom: 20px;
  }
  .header
  .header-left
  .header-left-content
  .header-left-second-content
  .contact
  .call-number
  .number {
    font-size: 1.5rem!important;
  }
}
