/* Umumi css fayllari */
@import "./_reset.css";
@import "./_utilites.css";
@import "./_header.css";
@import "./_icons.css";
@import "./_button.css";
@import "./_text.css";

/* @butonlar ucun yazilan kodlar */
.header
  .header-right
  .header-right-content
  .reservation
  .reservation-content
  .button-reservation {
  padding: 1.6rem 3.3rem;
  background-color: #7a9ca5;
  color: #ffffff;
  cursor: pointer;
}
