/* Umumi css fayllari */
@import "./_reset.css";
@import "./_utilites.css";
@import "./_header.css";
@import "./_icons.css";
@import "./_button.css";
@import "./_text.css";

/* @css-in default olculerini sifirlamaq */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
ul,
ol {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* @butonlar ucun yazilan kodlar */
.header
  .header-right
  .header-right-content
  .reservation
  .reservation-content
  .button-reservation {
  padding: 1.6rem 3.3rem;
  background-color: #7a9ca5;
  color: #ffffff;
  cursor: pointer;
}

/* @header hissesinin ve elementlerinin olculeri */

.header {
  justify-content: space-between;
  padding: 3.8rem 5.961rem 3.7rem 6rem;
}

.header .header-left .header-left-first-content h3 {
  padding-left: 1.2rem;
  padding-right: 4.6rem;
}

.header .header-left .header-left-second-content .call-number {
  padding-left: 1.2rem;
}

.header
  .header-right
  .header-right-content
  .menu
  .menu-content
  .menu-content-list
  .menu-content-item {
  padding-left: 1rem;
}

.header
  .header-right
  .header-right-content
  .sosial-icon
  .sosial-icon-content
  .facebook {
  padding-left: 3.2rem;
  padding-right: 3rem;
}

.header
  .header-right
  .header-right-content
  .sosial-icon
  .sosial-icon-content
  .linkedin {
  padding-left: 3rem;
  padding-right: 3.2rem;
}

.header
  .header-right
  .header-right-content
  .reservation
  .reservation-content
  .button-reservation
  span {
  padding-left: 1.2rem;
}

/* @iconlar ucun yazilan kodlar */
.header
  .header-left
  .header-left-content
  .header-left-first-content
  .logo-name
  .logo
  img {
  width: 3.3rem;
  height: 3.3rem;
}

.header
  .header-left
  .header-left-content
  .header-left-second-content
  .contact
  .call
  img {
  width: 2.089rem;
  height: 2.093rem;
}

.header
  .header-right
  .header-right-content
  .sosial-icon
  .sosial-icon-content
  .facebook
  i,
.header
  .header-right
  .header-right-content
  .sosial-icon
  .sosial-icon-content
  .twitter
  i,
.header
  .header-right
  .header-right-content
  .sosial-icon
  .sosial-icon-content
  .linkedin
  i {
  color: #141414;
}

/* @sehifedeki butun metinlerin dizayni */

/* @istifade olunacaq fontlar */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header
  .header-left
  .header-left-content
  .header-left-first-content
  .logo-name
  h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: #141414;
}

.header
  .header-left
  .header-left-content
  .header-left-second-content
  .contact
  .call-number
  .call-number-content
  span,
.header
  .header-left
  .header-left-content
  .header-left-second-content
  .contact
  .call-number
  .number {
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #141414;
}

.header
  .header-right
  .header-right-content
  .menu
  .menu-content
  .menu-content-list
  .menu-content-item
  .menu-content-link {
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #555555;
}

/* qisayol kodlari */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
